<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Iker Galardi - {}</title>
        <base href="~/" />
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <nav>
            <h1 class="title">Iker Galardi</h1>
            <h3 class="title">
                <a href="/home.html">home</a> ·
                <a href="/posts.html">posts</a> ·
                <a href="/projects.html">projects</a>
            </h3>
        </nav>

        {}

        <footer>
            <a href="https://x.com/ikergalardi">twitter</a> ·
            <a href="https://www.linkedin.com/in/iker-galardi/">linkedin</a> ·
            <a href="https://github.com/IkerGalardi">github</a>
        </footer>
    </body>
</html>
